
#notice {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  /*background: rgba(0, 0, 0, 0.5);*/
  background:#d03067;


  a {
    display:block;
    font-size:18px;
    color:white;
    padding:10px;
  }
}