
#notice {
  z-index:999;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  /*background: rgba(0, 0, 0, 0.5);*/
  background:#d03067;


  a {
    display:block;
    font-size:18px;
    color:white;
    padding:10px;
  }
}

.navbar .nav-item {
  .default {
    &:before {
      content: "\f164";
      color: #2196f3;
      font: normal normal normal 14px/1 FontAwesome;
    }
  }

  strong.default:before {
    color: white;
  }

  .deprecated {
    &:before {
      content: "\f00d";
      color: #e91e63;
      font: normal normal normal 14px/1 FontAwesome;
    }
  }
}